<h2>Create Subscription Plan</h2>

<form action="<%= newspaper_subscription_plans_url(@newspaper) %>" method="post">
  <input  type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">

  <input type="hidden" name="subscription_plan[newspaper_id]"
  value="<%= @newspaper.id %>">

  <label>
    Price
    <input type="text" name="subscription_plan[price]">
  </label>

  <label>
    Daily
    <input type="radio" name="subscription_plan[daily]" value="true">
  </label>

  <label>
    Weekly
    <input type="radio" name="subscription_plan[daily]" value="false">
  </label>

  <input type="submit" value="Create Plan">
</form>