<h2><%= @newspaper.title %></h2>

<h4>Available subscription plans:</h4>

<% @subscription_plans.each do |sp| %>
  <%= sp.daily ? "Daily" : "Weekly" %>
  <%= sp.price %>
  <br>
<% end %>

<%= link_to "Add subscription plan",
 new_newspaper_subscription_plan_url(@newspaper) %>